<div id="user-id" data-id="<%= current_user.id if signed_in? %>"></div>
<header class="navbar">
  <nav class="user-class-container">
    <h1><%= h @user.username %></h1>
      <p><%= h @user.email %></p>
  </nav>

  <form class="search" id="user-search" action="<%= search_user_url(@user) %>" method="get" accept-charset="utf-8">
    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>"
    >

    <input type="text" name="searchstring">

    <button class="submit-button">Search for your friend</button>
  </form>

  <% flash[:errors] && flash[:errors].each do |error| %>
    <%= error %><br>
  <% end %>

  <ul class="user-search-results">
    <% @search.each do |user| %>
      <% next if user == current_user %>
      <li class="searched">
        <a href="<%= user_url(user) %>"><%= h user.username %></a>

        <% if @friends.include?(user) %>
          <%= button_to "Unfriend",
            user_friendships_url(user),
            method: :delete %>
        <% elsif @sent_request_users.include?(user) %>
          <p>Request Sent</p>
        <% else %>
          <%= button_to "Befriend",
            user_friendships_url(user),
            method: :post %>
        <% end %>

      </li>
    <% end %>
  </ul>

  <nav class="nav-buttons">
    <button class="nav-button" id="notifications-button"></button>
    <button class="nav-button" id="chat-button"></button>
    <button class="nav-button" id="search-button"></button>
    <nav class="session-button">
    <% if signed_in? %>
      <%= button_to "Sign out", session_url, method: :delete %>
    <% else %>
      <a href="<%= new_user_url %>">Sign Up</a>
    </nav>
    <% end %>
  </nav>

</header>

<main>
  <section class="sidebar">

    <ul class="default-lists"></ul>

    <ul class="user-list">
      <% @user.lists.each do |list| %>
        <% if list.access == "PUBLIC" || list.owner == current_user || list.access == "FRIENDS" && @user.friends.include?(current_user) %>
          <li class="<%= list.access.downcase %>"><p><%= h list.title %></p></li>
        <% end %>
      <% end %>
    </ul>

    <button class="add-list-button">+</button>

  </section>

  <section class="listbar">
    <form class="add-item" action="<%= list_items_url(current_list) %>" method="post">
      <input type="text" name="list_item[content]" id="list_item_content">
      <%= form_auth %>
      <button class="add-item-button">Add Item</button>
    </form>

    <section class="items">
      <% @user.lists.each do |list| %>
        <% if list.access == "PUBLIC" || list.owner == current_user %>
            <br>
            <h1><%= h list.title %></h1>
            <br>
            <ul>


              <% list.list_items.each do |item| %>
                <li>
                  <h4><%= h item.content %></h4>
                  <p><%= h item.details %></p>
                </li>
              <% end %>
            </ul>
          </li>

        <% end %>
      <% end %>
    </section>

  </section>

  <footer>
    <nav class="list-navs"></nav>
    <button class="friends-button"></button>
    <section class="friends-box">
      <div class="friends">
        <% @user.friends.each do |friend| %>
          <li class="friend">
            <a href="<%= user_url(friend) %>"><%= h friend.username %></a>
          </li>
        <% end %>
      </div>
      <div class="friend-requests">
        <ul>
          <% @received_request_users.each do |user| %>
            <li class="friend">
              <a href="<%= user_friendships_url(user) %>" ><%= h user.username %></a>

              <%= button_to "Accept",
                accept_user_friendships_url(user),
                method: :get %>
              <%= button_to "Reject",
                reject_user_friendships_url(user),
                method: :get %>
            </li>
          <% end %>
        </ul>
      </div>


    </section>
  </footer>

</main>
