<a href="<%= user_url(current_user) %>">Home</a>

<h1><%= h @user.username %> is awesome</h1>

<% if @user == current_user %>
  <h2>So many people want to be <%= h @user.username %>'s friend</h2>
  <ul>
    <% @received_request_users.each do |user| %>
      <li class="friend">
        <a href="<%= user_friendships_url(user) %>" ><%= h user.username %></a>

        <%= button_to "Accept",
          accept_user_friendships_url(user),
          method: :get %>
        <%= button_to "Reject",
          reject_user_friendships_url(user),
          method: :get %>
      </li>
    <% end %>
  </ul>

  <h2>Add a friend</h2>
  <form action="<%= search_user_url(@user) %>" method="get" accept-charset="utf-8">
    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>"
    >

    <input type="text" name="searchstring">

    <input type="submit" value="Search for your friend">
  </form>

  <br>

  <ul>
    <% @search.each do |user| %>
      <% next if user == current_user %>
      <li class="searched">
        <a href="<%= user_url(user) %>"><%= h user.username %></a>

        <% if @friends.include?(user) %>
          <%= button_to "Unfriend",
            user_friendships_url(user),
            method: :delete %>
        <% elsif @sent_request_users.include?(user) %>
          <p>Request Sent</p>
        <% else %>
          <%= button_to "Befriend",
            user_friendships_url(user),
            method: :post %>
        <% end %>

      </li>
    <% end %>
  </ul>
<% else %>
  <% if @friends.include?(@user) %>
    <%= button_to "Unfriend",
      user_friendships_url(@user),
      method: :delete %>
  <% elsif @sent_request_users.include?(@user) %>
    <p>Request Sent</p>
  <% else %>
    <%= button_to "Befriend",
      user_friendships_url(@user),
      method: :post %>
  <% end %>
<% end %>

<h2><%= h @user.username %> has so many friends</h2>
<ul>
  <% @user.friends.each do |friend| %>
    <li class="friend">
      <a href="<%= user_url(friend) %>"><%= h friend.username %></a>
    </li>
  <% end %>
</ul>



<% if @user == current_user %>
  <h2>Create a new List</h2>
  <form action="<%= lists_url %>" method="POST">
    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

    <label for="list-title">List Name</label>
    <input type="text" name="list[title]" id="list-title">

    <br>

    <input type="radio" name="list[access]" id="list-access0" value="PUBLIC">
    <label for="list-access0">Public</label>

    <br>

    <input type="radio" name="list[access]" id="list-access1" value="FRIENDS">
    <label for="list-access1">Friends Only</label>

    <br>

    <input type="radio" name="list[access]" id="list-access2" value="PRIVATE">
    <label for="list-access2">Private</label>

    <br>


    <p><input type="submit" value="Save"></p>
  </form>
<% end %>

<% flash[:errors] && flash[:errors].each do |error| %>
  <%= error %><br>
<% end %>

<h2> <%= h @user.username %> has all these amazing lists</h2>

<ul>
  <% @user.lists.each do |list| %>
    <% if list.access == "PUBLIC" || list.owner == current_user || list.access == "FRIENDS" && @user.friends.include?(current_user) %>
      <li class="<%= list.access.downcase %>"><%= h list.title %></li>

      <!-- form -->


    <% end %>
  <% end %>
</ul>

<h2> Check out those list items!</h2>

<ul>
  <% @user.lists.each do |list| %>
    <% if list.access == "PUBLIC" || list.owner == current_user %>
      <li class="<%= list.access.downcase %>"><%= h list.title %>
        <form action="<%= list_items_url(list) %>" method="post">

          <%= form_auth %>
          <label for="list_item_content">
          <input type="text" name="list_item[content]" id="list_item_content">

          <p><input type="submit" value="Continue &rarr;"></p>
        </form>

        <ul>
          <% list.list_items.each do |item| %>
            <li>
              <h4><%= h item.content %></h4>
              <p><%= h item.details %></p>
            </li>
          <% end %>
        </ul>
      </li>

    <% end %>
  <% end %>
</ul>
