<h1><%= @user.username %> is awesome</h1>
<ul>
  <% @user.lists.each do |list| %>
    <% if list.access == "PUBLIC" || list.owner == current_user %>
      <li class="<%= list.access.downcase %>"><%= list.title %></li>
    <% end %>
  <% end %>
</ul>

<h2><%= @user.username %> has so many friends</h2>

<ul>
  <% @user.friends.each do |friend| %>
    <li class="friend">
      <a href="<%= users_url(friend) %>"><%= friend.username %></a>
    </li>
  <% end %>
</ul>

<h2>Add a friend</h2>
<form action="<%=  %>" method="get" accept-charset="utf-8">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>"
  >

  <input type="text" name="searchstring">

  <p><input type="submit" value="Search for your friend"></p>
</form>



<h2>Create a new List</h2>
<form action="<%= lists_url %>" method="POST">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label for="list-title">List Name</label>
  <input type="text" name="list[title]" id="list-title">

  <br>

  <input type="radio" name="list[access]" id="list-access0" value="PUBLIC">
  <label for="list-access0">Public</label>

  <br>

  <input type="radio" name="list[access]" id="list-access1" value="FRIENDS">
  <label for="list-access1">Friends Only</label>

  <br>

  <input type="radio" name="list[access]" id="list-access2" value="PRIVATE">
  <label for="list-access2">Private</label>

  <br>


  <p><input type="submit" value="Save"></p>
</form>

<% flash[:errors] && flash[:errors].each do |error| %>
  <%= error %><br>
<% end %>